<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http:mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.hzyc.registerSystem.mapper.ClassMapper">
	<resultMap id="BaseResultMap" type="com.hzyc.registerSystem.po.Users" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="VARCHAR" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="mac" property="mac" jdbcType="VARCHAR" />
    <result column="class_id" property="classId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="picture_name" property="pictureName" jdbcType="VARCHAR" />
  </resultMap>
		<select id="queryCountByClassId" parameterType="String" resultType="com.hzyc.registerSystem.po.Users">
			SELECT  * FROM users WHERE class_id =#{classId}
		</select>
		
		
		
		<select id="queryAllClassId" parameterType="String" resultType="String">
			SELECT DISTINCT class_id FROM users
		</select>
		
		<select id="queryStuMessageByClassId" parameterType="String" resultType="com.hzyc.registerSystem.po.Users">
			SELECT * FROM users where class_id = #{classId} 
		</select>
		
		<delete id="deleteStuMessageByID" parameterType="String">
		 delete  from users where id=#{id}
		</delete> 
        
        <update id="updateStuMessageByID" parameterType="Users">
		 update users set password=#{password},name=#{name},phone=#{phone},registerTime=#{registerTime},question=#{question},answer=#{answer},picture=#{picture},idNumber=#{idNumber},email=#{email},address=#{address},school=#{school},major=#{major} ,class_id=#{class_id},remark=#{remark},picture_name=#{picture_name} where id=#{id}
		</update> 
		
		<insert id="insertClass" parameterType="Grade" >
		 INSERT INTO grade(class_id,class_data,user_id,course_name,state,end_time) VALUES (#{classId},#{classData},#{userId},#{courseName},#{state},#{endTime})
		<!--   -->
		</insert> 
	</mapper>