<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzyc.registerSystem.mapper.LogMapper" >
  <resultMap id="BaseResultMap" type="com.hzyc.registerSystem.po.Log" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="loginaccount" property="loginaccount" jdbcType="VARCHAR" />
    <result column="loginip" property="loginip" jdbcType="VARCHAR" />
    <result column="actionurl" property="actionurl" jdbcType="VARCHAR" />
    <result column="module" property="module" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="actiontime" property="actiontime" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="gmtcreate" property="gmtcreate" jdbcType="VARCHAR" />
    <result column="startTime" property="starttime" jdbcType="VARCHAR" />
    <result column="endTime" property="endtime" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, loginaccount, loginip, actionurl, module, method, actiontime, description, gmtcreate, 
    startTime, endTime,state
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select * from LogIfo
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from LogIfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.hzyc.registerSystem.po.Log" >
    insert into LogIfo (id, loginaccount, loginip, 
      actionurl, module, method, 
      actiontime, description, gmtcreate, 
      startTime, endTime,state)
    values (#{id,jdbcType=INTEGER}, #{loginaccount,jdbcType=VARCHAR}, #{loginip,jdbcType=VARCHAR}, 
      #{actionurl,jdbcType=VARCHAR}, #{module,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{actiontime,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{gmtcreate,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.hzyc.registerSystem.po.Log" >
    insert into LogIfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginaccount != null" >
        loginaccount,
      </if>
      <if test="loginip != null" >
        loginip,
      </if>
      <if test="actionurl != null" >
        actionurl,
      </if>
      <if test="module != null" >
        module,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="actiontime != null" >
        actiontime,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="gmtcreate != null" >
        gmtcreate,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginaccount != null" >
        #{loginaccount,jdbcType=VARCHAR},
      </if>
      <if test="loginip != null" >
        #{loginip,jdbcType=VARCHAR},
      </if>
      <if test="actionurl != null" >
        #{actionurl,jdbcType=VARCHAR},
      </if>
      <if test="module != null" >
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="actiontime != null" >
        #{actiontime,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="gmtcreate != null" >
        #{gmtcreate,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
</mapper>