.max-div{
		width:1400px;
		height:700px;
		/*background-color:blue;*/
		position:absolute;
	}
.register{
		width:1400px;
		height:100x;
		background-color:#0000ff;
		
}
.register01{
		width:200px;
		height:100x;
		line-height:100px;/*垂直居中*/
		font-size:55px;
		color:#0000ff;
		float:left;
}
.register02{
		width:1200px;
		height:100x;
		background-color:#0000ff;
		line-height:100px;/*垂直居中*/
		text-align:center; /* 水平居中  */
		font-size:55px;
		color:#ffffff;
		float:left;
}
body{
		margin:0px;
	}
		
.register-div{
		width:1000px;
		height:1000px;
		margin:0px auto;
		border:2px solid #6495ed;
		margin-top:100px;
	}

form{
		text-align:center;
		color:#0000ff;
		
	}
	
	
input,select{
		margin-top:40px;
		width:280px;
		height:40px;
		font-size:15px;
		color:#0000ff;
		border-radius:6px;
		border:2px solid #6495ed;
	}

option{
		width:280px;
		height:40px;
		font-size:15px;
		color:#0000ff;
		border-radius:6px;
		border:2px solid #0000ff;
	}	
.sub_btn{
		background-color:#0000ff;
		width:180px;
		color:#ffffff;
		font-weight:900px;
	}